{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About
{% endblock %}

{% block body_block %}
    <h1>This is the about page of Rango</h1>
    <p>This tutorial has been put together by {{myname}}</p>
    <div>
        <img src="{% static "images/about_me.png" %}" alt="About me Picture"/>
        <br>
    </div>
    <p>Visits: {{ visits }}</p>
    <!-- <div >
      <p><strong>Here is a picture from media folder</strong></p>
      <img src="{{MEDIA_URL}}cat.jpg" alt="A Cat">
    </div> -->
{% endblock %}
